*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --mainColor: #C4391D;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 90px;
    padding: 0 2rem;
    background-color: white;
    color: var(--mainColor);
    border-top: 2px solid #C4391D;
    border-bottom: 2px solid #C4391D;
}
.logo-img {
    
    width: 16vw;
    margin-left: 10%;
    margin-right: 20vw;
}
nav a{
    margin: 0 2.5rem;
    color: var(--mainColor);
    text-decoration: none;
   
}

nav a:hover {
    color: black;
}

header .nav-btn {
    padding: 5px;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    color: #C4391D;
    display: none;
    opacity: 0;
}

@media only screen and (max-width: 1024px) {
    header .nav-btn {
        display: contents ;
        color: #C4391D;
        opacity: 1;
    }

    header nav {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
        background-color: white;
        transition: 1s;
        transform: translateY(-100vh);
    }

    header .responsive_nav {
        transform: none;
    }

   
}